<header class="ba-header">

	<div class="top-bar">
		<div class="row column">
			<div class="ba-header__content">
				<div class="top-bar-title">
					<a class="ba-logo" href="index.html">
						<img src="../assets/img/logo.svg" alt="logo">
					</a>
				</div>
				<nav class="show-for-large ba-main-nav">
					<ul class="ba-main-menu menu vertical medium-horizontal" data-smooth-scroll>
						<li><a href="#home">home</a></li>
						<li><a href="#about">about</a></li>
						<li><a href="#services">services</a></li>
						<li><a href="#works">works</a></li>
						<li><a href="#contact">contact</a></li>
					</ul>
				</nav>
				<button class="menu-icon hide-for-large" type="button" data-toggle="offCanvas"></button>
			</div>

		</div>
	</div>
</header>
